<% include ../common/header.ejs %>
<link rel="stylesheet" href="/static/less/account/login.css"/>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div id="login-box">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="basic-addon1">Username</span>
                <input type="text" class="form-control" placeholder="请输入 Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="basic-addon2">Password</span>
                <input type="text" class="form-control" placeholder="请输入 Password" aria-describedby="basic-addon2">
            </div>
            <div class="button-group">
                <button type="button" class="btn btn-lg">登录</button>
                <button type="button" class="btn btn-lg">注册</button>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<script type="text/javascript" data-main=""  src="/static/requirejs/require.js"></script>
<% include ../common/footer.ejs %>