@import "../base.less";

@box-width: 100%;
@box-min-height: 300px;

.base-box {
  width: @box-width;
  min-height: @box-min-height;
}

@width: 100px;

#projects-box {
  .base-box;

  width: @width;

  h3.box-title {
    margin-bottom: 30px;
  }

  div.notice-message {
    text-align: center;
    margin: 200px;
  }

  table  tr > th, td {
    text-align: center;
  }
}

#new-project-box {

  .modal {

    .modal-dialog {
      margin: 200px auto;

      .modal-body {
        input {
          width: 100%;
          height: 50px;
          font-size: 30px;
        }
      }

      div.modal-footer button {
        width: 100% / 2 - 1%;
      }
    }
  }
}
