@import "../base.less";

#projects-box {
  width: 100%;
  min-height: 300px;

  h3.box-title {
    margin-bottom: 30px;
  }

  div.notice-message {
    text-align: center;
    margin: 200px;
  }

  table  tr > th, td {
    text-align: center;
  }
}