@import "../base.less";

.show-box {
  display: none;
}

#login-box {
  &.display-switch {
    .show-box;
  }

  @box-margin: 40px;
  @box-width: 100%;

  width: 400px;
  margin: 200px auto 10px auto;

  div.input-group {
    width: @box-width;
    margin: @box-margin auto;
  }

  div.button-group {
    width: @box-width;
    margin: 0 auto;
    button {
      width: @box-width / 2 - 0.5%;
    }
    input {
      width: @box-width / 2 - 0.5%;
    }
  }
}

#reg-box {
  &.display-switch {
    .show-box;
  }

  @box-margin: 40px;
  @box-width: 100%;

  width: 400px;
  margin: 200px auto 10px auto;

  div.input-group {
    width: @box-width;
    margin: @box-margin auto;
  }

  div.button-group {
    width: @box-width;
    margin: 0 auto;
    button {
      margin-top: @box-margin / 2;
      width: @box-width;
    }
    input {
      margin-bottom: @box-margin / 2;
      width: @box-width;
    }
  }
}

#notify-box {

}
