<% include ../common/header.ejs %>
<link rel="stylesheet" href="/static/less/home/projects.css" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"/>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div id="new-project-box">
            <h3>创建属于你的项目</h3>
        </div>
        <div id="projects-box">
            <h3 class="box-title">你的项目</h3>
            <% if (projectsList) { %>
            <table class="table table-hover table-bordered">
                <tr>
                    <th>项目编号</th>
                    <th>项目名称</th>
                    <th>管理员权限</th>
                    <th>读写权限</th>
                    <th>读权限</th>
                </tr>
                <% projectsList.forEach(function (project) { %>
                <tr>
                    <td class="active"><%= project.id %></td>
                    <td class="info"><%= project.name %></td>
                    <% if (project.adminPrivi) { %>
                        <td class="success">是</td>
                    <% } else { %>
                        <td class="warning">否</td>
                    <% } %>
                    <% if (project.rwPrivi) { %>
                        <td class="success">是</td>
                    <% } else { %>
                        <td class="warning">否</td>
                    <% } %>
                    <% if (project.rPrivi) { %>
                        <td class="success">是</td>
                    <% } else { %>
                        <td class="warning">否</td>
                    <% } %>
                </tr>
                <% });%>
            </table>
            <% } else { %>
            <div class="notice-message">
                 <p>暂时还没与任何项目哦</p>
            </div>
            <% } %>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<!--<script type="text/javascript" data-main="/static/js/pages/account/login"  src="/static/requirejs/require.js"></script>-->
<% include ../common/footer.ejs %>