<% include ../common/header.ejs %>
<link rel="stylesheet" href="/static/less/home/projects.css" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"/>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div id="projects-box">
            <% if (projectsList) { %>
            <h3 class="box-title">你拥有这些项目,<a id="new-project-button" class="btn-link" href="#">或者点击创建自己的项目</a></h3>
            <table class="table table-hover table-bordered">
                <tr>
                    <th>项目编号</th>
                    <th>项目名称</th>
                    <th>管理员权限</th>
                    <th>读写权限</th>
                    <th>读权限</th>
                </tr>
                <% projectsList.forEach(function (project) { %>
                <tr>
                    <td class="active"><%= project.id %></td>
                    <td class="info"><%= project.name %></td>
                    <% if (project.adminPrivi) { %>
                        <td class="success">是</td>
                    <% } else { %>
                        <td class="warning">否</td>
                    <% } %>
                    <% if (project.rwPrivi) { %>
                        <td class="success">是</td>
                    <% } else { %>
                        <td class="warning">否</td>
                    <% } %>
                    <% if (project.rPrivi) { %>
                        <td class="success">是</td>
                    <% } else { %>
                        <td class="warning">否</td>
                    <% } %>
                </tr>
                <% });%>
            </table>
            <% } else { %>
            <div class="notice-message">
                <p>暂时还没与任何项目哦</p>
            </div>
            <% } %>
        </div>
        <div id="new-project-box">
            <div class="modal fade modal-box">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">创建自己的项目</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" placeholder="请输入自己的项目名称"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">保存更改</button>
                            <button type="button" data-dismiss="modal" class="btn btn-default">不想创建</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<script>
    (function() {
        "use strict";

        window.apidoc = {};
        window.apidoc.pageName = "<%= pageName %>";
    })();
</script>
<script type="text/javascript" data-main="/static/js/config"  src="/static/requirejs/require.js"></script>
<% include ../common/footer.ejs %>
