<!DOCTYPE html>
<html>
<head>
    <title>apidoc</title>
    <meta charset="utf-8"/>
</head>
<body>
<div id="navbar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <span>Apidoc</span>
                </a>
            </div>
        </div>
    </nav>
</div>

<!-- 保存页面信息 -->
<script id="pageData" type="text/javascript">
    window.apidoc = {};
    window.apidoc.pageHash = "<%= pageHash %>";
    window.apidoc.pageName = "<%= pageName %>";
</script>
