<!DOCTYPE html>
<html>
<header>
    <title>apidoc</title>
</header>
<body>
<div id="navbar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <span>Apidoc</span>
                </a>
            </div>
        </div>
    </nav>
</div>
<script id="pageHash" type="text/template">
    <% if (pageHash) { %>
    <%= pageHash %>
    <% } %>
</script>